ul.tags

  li
    display: inline-block
    margin: 3px
    cursor: pointer
    padding: 3px 6px
    color: darken(lightblue,45)
    background-color: rgba(lightblue,0.5)
    border: 2px lightblue solid
    border-radius: 4px

    &.searching
      background-color: rgba(red,0.3)
      border-color: rgba(red,0.6)
      color: darken(red,15)